 .u-section-1 {
  background-image: url("images/MicrosoftTeams-image14.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 965px;
  min-height: 550px;
  height: auto;
  background-image: none;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 165px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: 32px auto 0;
}

.u-section-2 .u-video-1 {
  height: 458px;
  width: 803px;
  margin: 17px auto 54px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-2 .u-video-1 {
    height: 411px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-video-1 {
    height: 308px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-2 .u-video-1 {
    height: 194px;
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 958px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1038px;
  margin: 73px auto 54px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 742px;
}

.u-section-3 .u-container-layout-1 {
  padding: 7px 60px;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 32px auto 0;
  padding: 10px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 31px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 742px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Precision-Farming-Agriculture-Symbols.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-3 .u-image-1 {
    min-height: 672px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 515px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 773px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 487px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 749px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 59px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1008px;
  margin: 46px auto 60px;
}

.u-section-4 .u-image-1 {
  min-height: 248px;
  background-image: url("images/MicrosoftTeams-image3.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 248px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 248px;
  background-image: url("images/MicrosoftTeams-image2.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 248px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 248px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 15px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 0 0 0 15px;
}

.u-section-4 .u-text-7 {
  margin: 20px 15px 0;
}

.u-section-4 .u-image-3 {
  min-height: 248px;
  background-image: url("images/MicrosoftTeams-image1.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 272px;
  background-image: none;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 0 0 0 10px;
}

.u-section-4 .u-text-9 {
  margin: 20px 10px 0;
}

.u-section-4 .u-image-4 {
  min-height: 248px;
  background-image: url("images/MicrosoftTeams-image4.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 231px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 231px;
  }

  .u-section-4 .u-image-2 {
    min-height: 231px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 231px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 231px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 13px;
  }

  .u-section-4 .u-image-3 {
    min-height: 231px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 254px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 3px;
  }

  .u-section-4 .u-image-4 {
    min-height: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1583px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 354px;
    order: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
    order: 1;
  }

  .u-section-4 .u-image-2 {
    min-height: 354px;
    order: 3;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
    order: 2;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
    order: 1;
  }

  .u-section-4 .u-image-3 {
    min-height: 354px;
    order: 0;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
    order: 2;
  }

  .u-section-4 .u-image-4 {
    min-height: 354px;
    order: 3;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2475px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 531px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 531px;
    order: 2;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 531px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-7 {
    order: 3;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 531px;
    order: 2;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1707px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 334px;
  }

  .u-section-4 .u-image-2 {
    min-height: 334px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    min-height: 334px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    min-height: 334px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 801px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-5 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-5 .u-icon-1 {
  height: 61px;
  width: 61px;
  margin: 0 auto 0 194px;
  padding: 0;
}

.u-section-5 .u-text-1 {
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  margin: 12px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 411px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/SustainableAgricultureTechnology-scaled-1.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 156px;
  }

  .u-section-5 .u-image-1 {
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 114px;
  }

  .u-section-5 .u-image-1 {
    min-height: 260px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 390px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 70px;
  }

  .u-section-5 .u-image-1 {
    min-height: 246px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 960px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  width: 442px;
  margin: 60px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 104px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 332px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-6 .u-text-2 {
  margin: 0 0 0 16px;
}

.u-section-6 .u-text-3 {
  margin: 20px 16px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 333px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 665px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 302px;
  height: 328px;
  margin: 164px auto 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 331px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  margin: 0;
}

.u-section-6 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 362px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-6 .u-text-8 {
  margin: 0 0 0 16px;
}

.u-section-6 .u-text-9 {
  margin: 20px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 274px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 548px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 273px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 298px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 611px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2177px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 917px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1956px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 577px;
  }
} .u-section-7 {
  background-image: linear-gradient(#e5e5e5, #f2f2f2);
}

.u-section-7 .u-sheet-1 {
  min-height: 1226px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 119px auto 0;
}

.u-section-7 .u-gallery-1 {
  height: 667px;
  grid-gap: 17px 17px;
  width: 955px;
  margin: 126px auto 60px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-7 .u-gallery-1 {
    width: 940px;
    height: 657px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-7 .u-gallery-1 {
    width: 720px;
    height: 1277px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-7 .u-gallery-1 {
    width: 540px;
    height: 3479px;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-7 .u-gallery-1 {
    width: 340px;
    height: 2241px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1903px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 74px auto 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto;
  width: 940px;
  margin: 45px auto 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 1676px;
}

.u-section-8 .u-list-item-1 {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-8 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 64px auto 0;
  padding: 13px;
}

.u-section-8 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 45px 0 0;
}

.u-section-8 .u-list-item-2 {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-8 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 64px auto 0;
  padding: 13px;
}

.u-section-8 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 45px 0 0;
}

.u-section-8 .u-list-item-3 {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-8 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 64px auto 0;
  padding: 13px;
}

.u-section-8 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  margin: 45px 0 0;
}

.u-section-8 .u-list-item-4 {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-8 .u-icon-4 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 64px auto 0;
  padding: 13px;
}

.u-section-8 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  margin: 45px 0 0;
}

.u-section-8 .u-list-item-5 {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  background-image: none;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px 29px;
}

.u-section-8 .u-icon-5 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 64px auto 0;
  padding: 13px;
}

.u-section-8 .u-text-10 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-11 {
  font-weight: 700;
  margin: 45px 0 0;
}

.u-section-8 .u-list-item-6 {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  background-image: none;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px 29px;
}

.u-section-8 .u-icon-6 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 64px auto 0;
  padding: 13px;
}

.u-section-8 .u-text-12 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-13 {
  font-weight: 700;
  margin: 45px 0 0;
}

.u-section-8 .u-list-item-7 {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  background-image: none;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px 29px;
}

.u-section-8 .u-icon-7 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 64px auto 0;
  padding: 13px;
}

.u-section-8 .u-text-14 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-15 {
  font-weight: 700;
  margin: 45px 0 0;
}

.u-section-8 .u-list-item-8 {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  background-image: none;
}

.u-section-8 .u-container-layout-8 {
  padding: 30px 29px;
}

.u-section-8 .u-icon-8 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 64px auto 0;
  padding: 13px;
}

.u-section-8 .u-text-16 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-17 {
  font-weight: 700;
  margin: 45px 0 0;
}

.u-section-8 .u-list-item-9 {
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  background-image: none;
}

.u-section-8 .u-container-layout-9 {
  padding: 30px 29px;
}

.u-section-8 .u-icon-9 {
  width: 64px;
  height: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 64px auto 0;
  padding: 13px;
}

.u-section-8 .u-text-18 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-19 {
  font-weight: 700;
  margin: 45px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    height: auto;
  }

  .u-section-8 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-8 .u-icon-1 {
    padding: 3px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 212px;
  }

  .u-section-8 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-8 .u-icon-2 {
    padding: 3px;
  }

  .u-section-8 .u-icon-3 {
    padding: 3px;
  }

  .u-section-8 .u-icon-4 {
    padding: 3px;
  }

  .u-section-8 .u-icon-5 {
    padding: 3px;
  }

  .u-section-8 .u-icon-6 {
    padding: 3px;
  }

  .u-section-8 .u-icon-7 {
    padding: 3px;
  }

  .u-section-8 .u-icon-8 {
    padding: 3px;
  }

  .u-section-8 .u-icon-9 {
    padding: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-list-1 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 3235px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 247px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-list-1 {
    width: 540px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 413px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-list-1 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 262px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1174px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 44px auto 0;
}

.u-section-9 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 963px;
  grid-gap: 20px 20px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-9 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 58px auto 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  margin: 31px 20px 0;
}

.u-section-9 .u-text-3 {
  margin: 29px auto 0 0;
}

.u-section-9 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 38px auto 0;
  padding: 11px 13px 12px;
}

.u-section-9 .u-icon-2 {
  font-size: 1.3em;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-9 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 58px auto 0;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  margin: 31px 20px 0;
}

.u-section-9 .u-text-5 {
  margin: 29px auto 0 0;
}

.u-section-9 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 38px auto 0;
  padding: 11px 13px 12px;
}

.u-section-9 .u-icon-4 {
  font-size: 1.3em;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-9 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 58px auto 0;
}

.u-section-9 .u-text-6 {
  font-weight: 700;
  margin: 31px 20px 0;
}

.u-section-9 .u-text-7 {
  margin: 29px auto 0 0;
}

.u-section-9 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 38px auto 0;
  padding: 11px 13px 12px;
}

.u-section-9 .u-icon-6 {
  font-size: 1.3em;
}

.u-section-9 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-4 {
  padding: 30px 25px;
}

.u-section-9 .u-icon-7 {
  height: 64px;
  width: 64px;
  margin: 58px auto 0;
}

.u-section-9 .u-text-8 {
  font-weight: 700;
  margin: 31px 20px 0;
}

.u-section-9 .u-text-9 {
  margin: 29px auto 0 0;
}

.u-section-9 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 38px auto 0;
  padding: 11px 13px 12px;
}

.u-section-9 .u-icon-8 {
  font-size: 1.3em;
}

.u-section-9 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-5 {
  padding: 30px 25px;
}

.u-section-9 .u-icon-9 {
  height: 64px;
  width: 64px;
  margin: 58px auto 0;
}

.u-section-9 .u-text-10 {
  font-weight: 700;
  margin: 31px 20px 0;
}

.u-section-9 .u-text-11 {
  margin: 29px auto 0 0;
}

.u-section-9 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 38px auto 0;
  padding: 11px 13px 12px;
}

.u-section-9 .u-icon-10 {
  font-size: 1.3em;
}

.u-section-9 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-6 {
  padding: 30px 25px;
}

.u-section-9 .u-icon-11 {
  height: 64px;
  width: 64px;
  margin: 58px auto 0;
}

.u-section-9 .u-text-12 {
  font-weight: 700;
  margin: 31px 20px 0;
}

.u-section-9 .u-text-13 {
  margin: 29px auto 0 0;
}

.u-section-9 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 38px auto 0;
  padding: 11px 13px 12px;
}

.u-section-9 .u-icon-12 {
  font-size: 1.3em;
}

.u-section-9 .u-list-item-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-7 {
  padding: 30px 25px;
}

.u-section-9 .u-icon-13 {
  height: 64px;
  width: 64px;
  margin: 58px auto 0;
}

.u-section-9 .u-text-14 {
  font-weight: 700;
  margin: 31px 20px 0;
}

.u-section-9 .u-text-15 {
  margin: 29px auto 0 0;
}

.u-section-9 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 38px auto 0;
  padding: 11px 13px 12px;
}

.u-section-9 .u-icon-14 {
  font-size: 1.3em;
}

.u-section-9 .u-list-item-8 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-9 .u-container-layout-8 {
  padding: 30px 25px;
}

.u-section-9 .u-icon-15 {
  height: 64px;
  width: 64px;
  margin: 58px auto 0;
}

.u-section-9 .u-text-16 {
  font-weight: 700;
  margin: 31px 20px 0;
}

.u-section-9 .u-text-17 {
  margin: 29px auto 0 0;
}

.u-section-9 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 38px auto 0;
  padding: 11px 13px 12px;
}

.u-section-9 .u-icon-16 {
  font-size: 1.3em;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-9 .u-list-1 {
    height: auto;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
    min-height: 789px;
  }

  .u-section-9 .u-icon-1 {
    padding: 13px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-icon-3 {
    padding: 13px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-icon-5 {
    padding: 13px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-icon-7 {
    padding: 13px;
  }

  .u-section-9 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-icon-9 {
    padding: 13px;
  }

  .u-section-9 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-icon-11 {
    padding: 13px;
  }

  .u-section-9 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-icon-13 {
    padding: 13px;
  }

  .u-section-9 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-icon-15 {
    padding: 13px;
  }

  .u-section-9 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 2507px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 658px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 54px auto 0;
}

.u-section-10 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 62px;
  margin-bottom: 60px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 395px;
  grid-gap: 20px 20px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: 30px -15px 0 -23px;
}

.u-section-10 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-10 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 11px 13px 12px;
}

.u-section-10 .u-icon-2 {
  font-size: 1.3em;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-4 {
  font-weight: 700;
  margin: 30px -15px 0 -23px;
}

.u-section-10 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-10 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 11px 13px 12px;
}

.u-section-10 .u-icon-4 {
  font-size: 1.3em;
}

.u-section-10 .u-list-item-3 {
  background-image: none;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-6 {
  font-weight: 700;
  margin: 30px -15px 0 -23px;
}

.u-section-10 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-10 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 11px 13px 12px;
}

.u-section-10 .u-icon-6 {
  font-size: 1.3em;
}

.u-section-10 .u-list-item-4 {
  background-image: none;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-icon-7 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-8 {
  font-weight: 700;
  margin: 30px -15px 0 -23px;
}

.u-section-10 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-10 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 11px 13px 12px;
}

.u-section-10 .u-icon-8 {
  font-size: 1.3em;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-top: 112px;
  }

  .u-section-10 .u-list-1 {
    height: auto;
    margin-top: 6px;
    margin-bottom: 35px;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 322px;
  }

  .u-section-10 .u-icon-1 {
    padding: 13px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-icon-3 {
    padding: 13px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-icon-5 {
    padding: 13px;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-icon-7 {
    padding: 13px;
  }

  .u-section-10 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-top: 704px;
  }

  .u-section-10 .u-list-1 {
    margin-top: -587px;
    margin-bottom: 0;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 1045px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-top: 1043px;
  }

  .u-section-10 .u-list-1 {
    margin-top: -912px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-top: 1145px;
  }

  .u-section-10 .u-list-1 {
    margin-top: -1008px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 1303px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 64px auto 0;
}

.u-section-11 .u-list-1 {
  margin-top: 58px;
  margin-bottom: 60px;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 1036px;
  grid-gap: 10px 10px;
}

.u-section-11 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-image-1 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  margin: 18px -6px 0;
}

.u-section-11 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-11 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-image-2 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-4 {
  font-weight: 700;
  margin: 18px -6px 0;
}

.u-section-11 .u-text-5 {
  margin: 23px 0 0;
}

.u-section-11 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-image-3 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-6 {
  font-weight: 700;
  margin: 18px -6px 0;
}

.u-section-11 .u-text-7 {
  margin: 23px 0 0;
}

.u-section-11 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-11 .u-container-layout-4 {
  padding: 30px;
}

.u-section-11 .u-image-4 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-8 {
  font-weight: 700;
  margin: 18px -6px 0;
}

.u-section-11 .u-text-9 {
  margin: 23px 0 0;
}

.u-section-11 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-11 .u-container-layout-5 {
  padding: 30px;
}

.u-section-11 .u-image-5 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-10 {
  font-weight: 700;
  margin: 18px -6px 0;
}

.u-section-11 .u-text-11 {
  margin: 23px 0 0;
}

.u-section-11 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-11 .u-container-layout-6 {
  padding: 30px;
}

.u-section-11 .u-image-6 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-12 {
  font-weight: 700;
  margin: 18px -6px 0;
}

.u-section-11 .u-text-13 {
  margin: 23px 0 0;
}

.u-section-11 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-11 .u-container-layout-7 {
  padding: 30px;
}

.u-section-11 .u-image-7 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-14 {
  font-weight: 700;
  margin: 18px -6px 0;
}

.u-section-11 .u-text-15 {
  margin: 23px 0 0;
}

.u-section-11 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-11 .u-container-layout-8 {
  padding: 30px;
}

.u-section-11 .u-image-8 {
  height: 360px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-16 {
  font-weight: 700;
  margin: 18px -6px 0;
}

.u-section-11 .u-text-17 {
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-top: -63px;
  }

  .u-section-11 .u-list-1 {
    margin-top: 186px;
  }

  .u-section-11 .u-repeater-1 {
    min-height: 851px;
  }

  .u-section-11 .u-image-1 {
    height: 280px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-image-2 {
    height: 280px;
  }

  .u-section-11 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-image-3 {
    height: 280px;
  }

  .u-section-11 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-image-4 {
    height: 280px;
  }

  .u-section-11 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-image-5 {
    height: 280px;
  }

  .u-section-11 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-image-6 {
    height: 280px;
  }

  .u-section-11 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-image-7 {
    height: 280px;
  }

  .u-section-11 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-image-8 {
    height: 280px;
  }

  .u-section-11 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-top: 1716px;
  }

  .u-section-11 .u-list-1 {
    margin-top: -1594px;
    margin-bottom: 0;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2655px;
  }

  .u-section-11 .u-image-1 {
    height: 480px;
  }

  .u-section-11 .u-image-2 {
    height: 480px;
  }

  .u-section-11 .u-image-3 {
    height: 480px;
  }

  .u-section-11 .u-image-4 {
    height: 480px;
  }

  .u-section-11 .u-image-5 {
    height: 480px;
  }

  .u-section-11 .u-image-6 {
    height: 480px;
  }

  .u-section-11 .u-image-7 {
    height: 480px;
  }

  .u-section-11 .u-image-8 {
    height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-top: 6984px;
  }

  .u-section-11 .u-list-1 {
    margin-top: -6848px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-1 {
    height: 832px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-2 {
    height: 832px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-3 {
    height: 832px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-4 {
    height: 832px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-5 {
    height: 832px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-6 {
    height: 832px;
  }

  .u-section-11 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-7 {
    height: 832px;
  }

  .u-section-11 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-8 {
    height: 832px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    margin-top: 4424px;
  }

  .u-section-11 .u-list-1 {
    margin-top: -4282px;
  }

  .u-section-11 .u-image-1 {
    height: 512px;
  }

  .u-section-11 .u-image-2 {
    height: 512px;
  }

  .u-section-11 .u-image-3 {
    height: 512px;
  }

  .u-section-11 .u-image-4 {
    height: 512px;
  }

  .u-section-11 .u-image-5 {
    height: 512px;
  }

  .u-section-11 .u-image-6 {
    height: 512px;
  }

  .u-section-11 .u-image-7 {
    height: 512px;
  }

  .u-section-11 .u-image-8 {
    height: 512px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 710px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  margin: 43px auto 0;
}

.u-section-12 .u-gallery-1 {
  height: 397px;
  grid-gap: 17px 17px;
  width: 1129px;
  margin: 104px 0 60px auto;
}

.u-section-12 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-12 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-12 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-12 .u-gallery-1 {
    height: 327px;
    width: 940px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-12 .u-gallery-1 {
    height: 1051px;
    width: 720px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-12 .u-gallery-1 {
    height: 3228px;
    width: 540px;
  }

  .u-section-12 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-12 .u-gallery-1 {
    height: 2051px;
    width: 340px;
  }
} .u-section-13 {
  background-image: url("images/MicrosoftTeams-image14.png");
  background-position: 50% 50%;
}

.u-section-13 .u-sheet-1 {
  min-height: 501px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-13 .u-form-1 {
  width: 570px;
  margin: 29px auto 59px;
}

@media (max-width: 767px) {
  .u-section-13 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-form-1 {
    width: 340px;
  }
}